/* static/css/custom.css */
.btn-custom-signup {
    background-color: #ff5733; /* Couleur personnalisée */
    color: white;
    border: none;
}

.container {
    margin-top: 50px;
}

.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary, .btn-secondary {
    width: 100%;
    margin-top: 10px;
}
.custom-title {
    color: #007bff; /* Couleur bleue primaire de Bootstrap */
    font-size: 2.5rem; /* Ajustez cette valeur pour agrandir le texte */
    font-weight: bold; /* Optionnel : rend le texte plus gras */
}